<div class="container">
 <h1> List of Cases </h1>
  <table class="table table-striped table-bordered">
    <tr>
      <th>Case Number</th>
      <th>Subject</th>
      <th>Email</th> 
      <th>Priority</th>
      <th>Created At:</th>
    </tr>

    <% @cases.each do |c| %>
      <tr>
        <td><%= c.casenumber %></td>
        <td><%= c.subject %></td>
        <td><%= c.contactemail %></td>
        <td><%= c.priority%></td>
        <td><%= c.createddate %></td>
      </tr>
    <% end %>
  </table>

</div>
